<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="static/record.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div>sungjinwoo</div>
    <div>sungjinwoo1</div>
    <div>sungjinwoo2</div>
    <div>sungjinwoo3</div>
    <div>sungjinwoo4</div>
    <div>sungjinwoo5</div>
  </head>
</html>