<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="static/pose_estimation.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrap">
      <div class="head_bg">
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <div class="sidebar">
          <div class="sidemenu">
            <button onclick="location.href='record.html'">
              Record
            </button>
            <button onclick="location.href='schedule.html';">
              Schedule
            </button>
          </div>
        </div>
      </div>
      <div class="live">
        <button onclick="location.href='live.html'">
          LIVE
        </button>
      </div>
      <div class="start">
        <button onclick="location.href='schedule.html'">
          START
        </button>
      </div>
    </div>
  </body>
  <script src="static/client.js"></script>
</html>