<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="./static/pose_estimation.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body onload="load()">
    <header>
      <nav>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="mylogo" style="cursor: pointer" onclick="location.href='pose_estimation.html'">
          <p>CarryVan</p><img src="./img/logo.png" />
        </div>
        <ul class="nav-links">
          <li onclick="location.href='record.html'">Record</li>
        <ul>
      </nav>
    </header>

    <main>
      <section class="home">
        <div id="frame" class="frame" >
        </div>
      </section>
    </main>
  </body>
  <script>
    function getDate(date_time){

      var week = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

      var dayOfWeek = week[new Date(date_time).getDay()]; 

      return dayOfWeek;
    }

    function load(){
      
      fetch("/workout_data", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
        for (var i = 0; i < data.length; i++){

          var frame = document.getElementById("frame")

          var card = document.createElement("div")
          var inner = document.createElement("div")
          var date = document.createElement("div")
          var mode = document.createElement("div")
          var t1 = document.createElement("div")
          var t2 = document.createElement("div")
          var line = document.createElement("div")
          var workout = document.createElement("div")
          var w = document.createElement("ul")

          card.setAttribute('class', 'card')
          inner.setAttribute('class', 'inner')
          date.setAttribute('class', 'date')
          mode.setAttribute('class', 'mode')
          t1.setAttribute('class', 'title')
          t2.setAttribute('class', 'dw')
          line.setAttribute('class', 'line')
          workout.setAttribute('class', 'workout')
          w.setAttribute('class', 'w')

          var li = []

          exit = data[i][1]
          
          for (var j = 2; j < data[i].length; j++){
            var pt = data[i][j];
            var li = document.createElement("li");
            if (exit == 1){ //schedule mode
              var temp = pt.workout_name.toUpperCase()+": "+pt.count+"x"+pt.set;
            } else{ //live mode
              var temp = pt.workout_name.toUpperCase()+":  "+pt.count
            }
            const textNode = document.createTextNode(temp);
            li.appendChild(textNode);
            w.appendChild(li)
          }

          date_time = data[i][0]
          dw=getDate(date_time)
          
          for (var j = 0; j < date_time.length; j++){
            if (date_time[j] == "T"){
              date_time = date_time.slice(5, j)
            }
          }

          if (exit == 1){
            mode.innerHTML = "SCHEDUEL"
          } else{
            mode.innerHTML = "LIVE"
          }
          
          t1.innerHTML = date_time
          t2.innerHTML = dw
          
          card.appendChild(inner);
          inner.appendChild(date);
          inner.appendChild(line);
          inner.appendChild(workout);
          date.appendChild(mode);
          date.appendChild(t1);
          date.appendChild(t2);
          workout.appendChild(w);

          frame.appendChild(card)
        }
        
      });
    }
  </script>
  <script src="static/event.js"></script>
</html>