<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="pose_estimation.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="mylogo" style="cursor: pointer">
          <p>CarryVan</p><img src="./img/logo.png" />
        </div>
      </nav>
    </header>

    <main>

    </main>
  </body>
  
  <script>
  function load(){

    fetch("/data", {
      method: "POST",
      headers: {
        'Content-Type' : 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(data => {
      console.log(data);
    });

  }
  </script>

</html>