<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="pose_estimation.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header>
      <nav>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="mylogo" style="cursor: pointer">
          <p>CarryVan</p><img src="./img/logo.png" />
        </div>
        <div class="nav-links">
          Record
        </div>
      </nav>
    </header>

    <main>
      <section class="home">
        <div id="frame" class="record_page">
          
          <div class="card">
            <div class="inner">
              <div class="title"></div>
              <div class="line"></div>
              <div class="workout"></div>
            </div>
          </div>
          <div class="card">
            <div class="inner">
              <div class="title"></div>
              <div class="line"></div>
              <div class="workout"></div>
            </div>
          </div>
          <div class="card">
            <div class="inner">
              <div class="title"></div>
              <div class="line"></div>
              <div class="workout"></div>
            </div>
          </div>

        </div>   
      </section>
    </main>
  </body>
  <script>
    function load(){
      
      fetch("/workout_data", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        
        var p = document.geteElementById("frame");
        var titleDIV = document.createElement("div");
        

        titleDIV.innerHTML = "오늘의 workout";
        
        for (var i = 0; i < data[0].length; i++){

          for (var j = 0; j < data[0][i].length; j++){
              var w_li = document.createElement("li");
          }
         

        }

      });
    }

    function loaded(){
     
      var newDIV = document.createElement("div");
      var p = document.getElementById("frame")

      newDIV.innerHTML = "Pushup"
      newDIV.setAttribute("id","myDiv");
      newDIV.style.backgroundColor="yellow";

      p.appendChild(newDIV);
    }
  </script>
  
  <script src="event.js"></script>
</html>